<%- include('../partials/header') %>

    <h1>Hello Flights</h1>
    <table>
        <thead>
          <tr>
            <th></th>
            <th>Airlines</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Departs</th>
          </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(f) { %>
            <tr>
              <td><a href="/flights/<%=f._id%>">Details</a></td>
              <td><%= f.airline %></td>
              <td><%= f.airport %></td>
              <td><%= f.flightNo %></td>
              <td><%= f.departs %></td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      
<%- include('../partials/footer') %>
